<!DOCTYPE html>
<html lang="en">
<head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <!--AOS CSS-->
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

      <!-- My CSS style sheet-->
      <link rel="stylesheet" type="text/css" href="static/css/style.css">

      <title>Post-Quarantine Park Advisor</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-info px-2 py-0">
    <a class="navbar-brand text-white font-family-serif bg-info p-2 ml-5" href="/">
      <img src="static/images/brain-icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Post-Quarantine Park Advisor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="data">Data Sources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">About Us</a>
          </li>
        </ul>
      </div>
  
</nav>

<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="header">Who Are We?</h1>
        <p class="tagline">The team behind the code</p>
      </div>
    </div>
  </div>
</header>

<div class="container pt-5 px-0 pb-5">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-light">
      <h2 class="text-info pt-4 pl-2 pr-2 pb-2">About Us</h2>
      <hr>
      <div class="row">
        <div class="col-lg-2 col-md-2 col-s-2 col-xs-2">
          <br>
          <img src="static/images/human-mind-icons/png/016-mind.png" class="w-50 ml-5 float-left">
        </div>
        <div class="col-lg-8 col-md-8 col-s-8 col-xs-8">
          <h4 class="text-info">Jonathan Wu</h4>
          <p>
            A boardgame enthusiast that is heavily distracted by Youtube videos during this quarantine period.
            He cannot wait to get outside and have normal human interactions and activities, as he has been repetitively making cups of Dalgona coffee.
            He is very thankful that he has very supportive teammates on this project for their help and encouragement.
            For this project, he was responsible for creating the web-scraper.
          </p>
        </div>
      </div>
          <br>
      <div class="row">
        <div class="col-lg-2 col-md-2 col-s-2 col-xs-2">
            <br>
            <img src="static/images/human-mind-icons/png/045-analytics.png" class="w-50 ml-5 float-left">
          </div>
        <div class="col-lg-8 col-md-8 col-s-8 col-xs-8">
        <h4 class="text-info">Jenie Nam</h4>
        <p>
          A sleepy college student who is overseas for quarantine and is slowly dying due to the time difference.
          She is convinced that her teammate is an angel for enjoying front-end visualizations because she prefers the back-end development.
          For this project, she focused on ETL of the raw data used for the model-building, as well as making visualizations to investigate trends in the raw data.
        </p>
        </div>
      </div>
        <br>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-s-2 col-xs-2">
              <br>
              <img src="static/images/human-mind-icons/png/010-idea.png" class="w-50 ml-5 float-left">
            </div>
          <div class="col-lg-8 col-md-8 col-s-8 col-xs-8">
          <h4 class="text-info">Jingchen Liu</h4>
          <p>
            A foodie who is missing bobas during this quarantine time.
            She appreciates her teammate’s CSS work because she prefers back-end development.
            For this project, she developed the model for predicting personality types.
          </p>
        </div>
      </div>
          <br>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-s-2 col-xs-2">
              <br>
              <img src="static/images/human-mind-icons/png/011-strength.png" class="w-50 ml-5 float-left">
            </div>
          <div class="col-lg-8 col-md-8 col-s-8 col-xs-8">
          <h4 class="text-info">Melanie Follett</h4>
          <p>
            A cosplayer who spends too much time crafting, gaming, and drinking coffee while stuck in the house during quarantine.
            She enjoys using visualizations and front-end development to make data beautiful, and is thankful for the dedication and hardwork of her teammates who handled the backend coding.
            For this project, she took all of her teammates' code and built the data-driven web application.
          </p>
        </div>
      </div>
      <br>
      <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      </div>
    </div>
  </div>
</div>

<!--JavaScripts-->
<!-- Anime-->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script> -->
<!--D3-->
  <script src="https://d3js.org/d3.v5.min.js"></script>
<!--My JS-->
  <script src="static/js/table.js"></script>
<!--Bootstrap-->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
