<!DOCTYPE html>
<html lang="en">
<head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <!-- My CSS style sheet-->
      <link rel="stylesheet" type="text/css" href="static/css/style.css">

      <title>Social Media Personality Type</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-info px-2 py-0">
    <a class="navbar-brand text-white font-family-serif bg-info p-2 ml-5" href="/">
      <img src="static/images/brain-icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Social Media Personality Type</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="data">Data Sources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">About Us</a>
          </li>
        </ul>
      </div>
  
</nav>


<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="header">Data Sources</h1>
        <p class="tagline">Where did this data come from?</p>
      </div>
    </div>
  </div>
</header>

<div class="container pt-5 px-0 pb-5">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-light">
      <h2 class="text-info pt-4 pl-2 pr-2 pb-2">Data Sources</h2>
      <hr>
      <div class = "row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-light">
          <p class="pt-2 pl-2 pr-2 pb-2">
            <div class="list-group list-group-flush">
              <a href="https://www.kaggle.com/datasnaek/mbti-type" class="list-group-item list-group-item-action">MBTI dataset used for modeling</a>
              <a href="https://www.16personalities.com/" class="list-group-item list-group-item-action">Reference website for info about personality types</a>
            </div>
          </p>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>

<!--JavaScripts-->
<!-- Anime-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<!--My JS-->
  <script src="static/js/sources.js"></script>
<!--Bootstrap-->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
